.page-wrapper {
  max-width: 1400px;
  width: 100%;
  padding: 25px;
  margin: 0 auto;

  .grid-row {
    display: flex;
    justify-content: space-between;

    .intermediate {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .description {
      max-width: 50%;
    }
  }
  .image {
    width: 640px;
    height: 640px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
