<div class="product-wrapper" (click)="viewProduct(product.id)">
  <div class="main-content">
    <div class="img_wrapper">
      <img [src]="product.image">
    </div>
    <div class="product-title">
      {{product.title}}
    </div>
    <div class="product-description">
      {{getShortedDescription(product.description)}}
    </div>
    <div class="product-price">
      {{product.price | currency}}
    </div>
    <div class="product-rating">
      <!-- create separate component -->
       {{product.rating.rate}}
    </div>



  </div>
  <div class="product-actions">
    <button (click)="addToCart($event)"> Add to Cart</button>
  </div>
</div>